/* Use this file to override styles in the drposter template.
 * 
 * Improve poster maintainability by keeping the resources separate
 * from the package, and user styles separated from the overall package.
 */
 
 .title {
	font-size: 2.5cm;
	color: white;
	background: #005cb9
}

:root {
	--header-color: #005cb9;
}

:root {
	--other-color-for-h2-gradient: #4aa0f7;
}

:root {
	--base-font-family: 'Roboto Condensed', sans-serif;
	--header-font-family: 'Roboto Condensed', sans-serif;
	--monospace-font-family: 'Roboto Mono', monospace, sans-serif;
}

html {
	/* Note that rem is set proportionally to the html root font size: https://css-tricks.com/html-vs-body-in-css/ */
	font-family: var(--base-font-family);
	font-size: 1.3cm;
	line-height: 1.5; /* Use proportional line spacing so everything is self-consistent */
}

.slides > header {
	/* If the background is a complex image, then an overlay may be necessary: */
	background: #005cb9;
	/* background: linear-gradient(to bottom, lightgray, white);  /* Overwrites the previous style */
	border-radius: 0;
	border: 0.25cm solid var(--header-color);
	
}

.theme-minimalist .level2 h2, .level1 .theme-minimalist.level2 h2 {
	/* This is really tricky: we need to completely override themes if accepted rule.  Inheritance will only work if things are actually specified */
	background: var(--header-color);
	color: white;
	border-radius: 0;
	border: 0.25cm solid var(--header-color);
	border-bottom: 0;
	font-size: 2cm;
	text-align: center;
	}
	
	
.level2 > * {
	/* p, pre, ul, .figure, etc. */
	/* flex-grow=1 and flex-shrink=0 by default, so this will expand to fill whitespace */
	flex: 100%;  /* This is set to be two-column: enough leeway for the gutter but not too much for 3 cols */
	box-sizing: border-box;
	margin-left: var(--flex-gutter);
	margin-right: var(--flex-gutter);
}

/* Extra CSS */
.remark-code  {
  font-size: 11px;
}


/* Extra CSS */
.remark-code {
  font-size: 11px;
}


/* Extra CSS */
.remark-code {
  font-size: 11px;
}
